<div class = "container">
	<h1 style = "margin-bottom: 50px; border-bottom: 3px solid #B0E0E6; 
	padding-bottom: 5px;">PROJECTS</h1>
	<h3>Click on each project to see it in detail</h3>

	<div class = "preview-container" title= "View project">
		<a [routerLink] = "['/projects/project-db']">
			<h2>Application for upload and modify projects in a MongoDB Atlas database from an API</h2>
			<img class = "preview" src = "../../assets/img/PersonalPortfolioDBimg/firstImage.png"/>
		</a>
	</div><hr>

	<div class = "preview-container" title= "View project">
		<a [routerLink] = "['/projects/projectweb-js']">
			<h2>Dynamic web (JavaScript + JQuery UI)</h2>
			<img class = "preview" src = "../../assets/img/PersonalPortfolioWEBimg/firstImage.png"/>
		</a>
	</div>
	
	

	
	
</div>
