
  <header>
    <ul>
      <!--<li id = "logo"><a href = "#"> PMGC</a></li>-->
      <li><a [routerLink] = "['/about']" [routerLinkActive] = "['actived']" (click) = "scrollTop()"
        >ABOUT ME</a></li>

      <li class = "projects1"><a [routerLink] = "['/projects']" [routerLinkActive] = "['actived']"
        (click) = "scrollTop()">PROJECTS</a></li>

      <li><a [routerLink] = "['/contact']" [routerLinkActive] = "['actived']" (click) = "scrollTop()"
        >CONTACT</a></li>
    </ul>
  </header>

  <section id = "content">
    <router-outlet></router-outlet>
  </section>

  <footer>
      Personal Portfolio of Pedro Martínez-Grande Cicuéndez <br><br>
      pedromartinezgcicuendez@gmail.com
      <a id= "scroll" (click) = "scrollTop()">Go up</a>
  </footer>

  

  